In [1]:
import random
import pyspark.sql.functions as F

In [2]:
nRegisters = 100000
header = ['cod_estado', 'sexo', 'estado_civil']
var = [[x,y,z] for x,y,z in  zip([random.choice(range(11,54)) for _ in range(nRegisters)], [random.choice(['F', 'M']) for _ in range(nRegisters)], [random.choice(['SOLTEIRO', 'CASADO', 'DIVORCIADO']) for _ in range(nRegisters)])]
groupby_var = 'cod_estado'
base_name = 'base1'
df = spark.createDataFrame(var, header)

In [3]:
df.show()

+----------+----+------------+
|cod_estado|sexo|estado_civil|
+----------+----+------------+
|        18|   F|      CASADO|
|        52|   F|      CASADO|
|        17|   M|    SOLTEIRO|
|        42|   F|  DIVORCIADO|
|        25|   M|      CASADO|
|        26|   F|  DIVORCIADO|
|        50|   M|  DIVORCIADO|
|        31|   F|      CASADO|
|        41|   M|    SOLTEIRO|
|        29|   M|  DIVORCIADO|
|        22|   F|    SOLTEIRO|
|        15|   M|  DIVORCIADO|
|        46|   F|  DIVORCIADO|
|        24|   F|    SOLTEIRO|
|        39|   M|      CASADO|
|        38|   M|    SOLTEIRO|
|        19|   F|  DIVORCIADO|
|        21|   M|  DIVORCIADO|
|        37|   F|    SOLTEIRO|
|        30|   M|      CASADO|
+----------+----+------------+
only showing top 20 rows

In [4]:
agg = df.groupby(header).count()
agg_concat = agg.withColumn('agg_concat', F.concat_ws('_', *[x for x in header if x != groupby_var]))
agg_concat = agg_concat.withColumn('agg_concat', F.concat_ws('_', F.lit(base_name), 'agg_concat'))

In [5]:
agg_concat.show()

+----------+----+------------+-----+------------------+
|cod_estado|sexo|estado_civil|count|        agg_concat|
+----------+----+------------+-----+------------------+
|        26|   F|      CASADO|  369|    base1_F_CASADO|
|        40|   F|  DIVORCIADO|  391|base1_F_DIVORCIADO|
|        16|   F|  DIVORCIADO|  378|base1_F_DIVORCIADO|
|        22|   F|      CASADO|  414|    base1_F_CASADO|
|        12|   F|      CASADO|  398|    base1_F_CASADO|
|        37|   F|    SOLTEIRO|  385|  base1_F_SOLTEIRO|
|        51|   F|      CASADO|  385|    base1_F_CASADO|
|        48|   M|      CASADO|  383|    base1_M_CASADO|
|        18|   F|    SOLTEIRO|  416|  base1_F_SOLTEIRO|
|        14|   M|  DIVORCIADO|  451|base1_M_DIVORCIADO|
|        41|   M|  DIVORCIADO|  356|base1_M_DIVORCIADO|
|        25|   M|  DIVORCIADO|  417|base1_M_DIVORCIADO|
|        37|   F|      CASADO|  439|    base1_F_CASADO|
|        46|   F|  DIVORCIADO|  371|base1_F_DIVORCIADO|
|        22|   M|  DIVORCIADO|  398|base1_M_DIVORCIADO|
|        28|   M|      CASADO|  390|    base1_M_CASADO|
|        40|   F|      CASADO|  379|    base1_F_CASADO|
|        27|   M|  DIVORCIADO|  363|base1_M_DIVORCIADO|
|        47|   F|  DIVORCIADO|  382|base1_F_DIVORCIADO|
|        24|   M|      CASADO|  384|    base1_M_CASADO|
+----------+----+------------+-----+------------------+
only showing top 20 rows

In [6]:
result = agg_concat.groupby(groupby_var).pivot('agg_concat').sum('count').orderBy(groupby_var)

In [7]:
result.toPandas()

,cod_estado,base1_F_CASADO,base1_F_DIVORCIADO,base1_F_SOLTEIRO,base1_M_CASADO,base1_M_DIVORCIADO,base1_M_SOLTEIRO
0,11,412,389,370,417,373,347
1,12,398,352,450,370,391,385
2,13,358,396,387,399,383,426
3,14,403,382,408,376,451,370
4,15,370,389,366,425,404,395
5,16,387,378,402,392,381,424
6,17,421,393,360,352,384,403
7,18,350,416,416,372,390,386
8,19,404,414,370,371,381,367
9,20,396,387,439,383,403,412
10,21,394,400,367,376,352,403
11,22,414,370,380,371,398,411
12,23,374,400,385,383,401,376
13,24,384,363,399,384,405,404
14,25,408,403,405,360,417,381
15,26,369,380,347,403,356,391
16,27,405,397,359,366,363,413
17,28,404,381,419,390,372,391
18,29,401,381,418,419,376,345
19,30,388,380,400,341,352,417
20,31,364,374,387,406,401,403
21,32,394,371,395,383,357,394
22,33,419,352,371,375,408,356
23,34,383,391,374,395,412,369
24,35,374,369,369,440,366,420
25,36,388,387,399,398,375,371
26,37,439,333,385,400,393,405
27,38,406,370,387,396,346,366
28,39,400,389,395,423,416,395
29,40,379,391,373,371,361,421
30,41,396,405,401,374,356,394
31,42,350,399,389,378,381,365
32,43,375,388,397,397,366,414
33,44,366,405,360,380,389,385
34,45,408,361,405,411,377,394
35,46,365,371,378,379,341,369
36,47,384,382,374,406,387,360
37,48,375,382,401,383,363,346
38,49,412,375,381,408,414,435
39,50,390,374,402,392,398,358
40,51,385,398,396,406,397,375
41,52,425,381,381,400,392,386
42,53,375,397,382,347,448,380